In [32]:
import pandas as pd

In [33]:
# set pandas so that it shows all rows and all cols
# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [34]:
df = pd.read_csv('tweets_labelled_09042020_16072020.csv', sep=';')
df.head()

,id,created_at,text,sentiment
0,77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive
1,661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative
2,413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive
3,760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive

In [35]:
df.isna().sum()

id               0
created_at       0
text             0
sentiment     3700
dtype: int64

In [36]:
# extract all tickets in the format $TICKER from the 'text' column
# the ticker must consist of letters only (no digits)
df['ticker'] = df['text'].str.findall(r'\$[A-Za-z]+')

# remove the dollar sign and convert tickers to uppercase
df['ticker'] = df['ticker'].apply(lambda x: [t.replace('$', '').upper() for t in x])

# manually explode the list into individual rows by expanding the DataFrame
df_expanded = df.explode('ticker', ignore_index=True)

df_expanded

,id,created_at,text,sentiment,ticker
0,77522,2020-04-15 01:03:46+00:00,"RT @RobertBeadles: YoðŸ’¥\nEnter to WIN 1,000 Mon...",positive,NaN
1,661634,2020-06-25 06:20:06+00:00,#SriLanka surcharge on fuel removed!\nâ›½ðŸ“‰\nThe ...,negative,NaN
2,413231,2020-06-04 15:41:45+00:00,Net issuance increases to fund fiscal programs...,positive,NaN
3,760262,2020-07-03 19:39:35+00:00,RT @bentboolean: How much of Amazon's traffic ...,positive,NaN
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive,AMD
...,...,...,...,...,...
15562,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,ZOM
15563,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,DSS
15564,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,HGSH
15565,890123,2020-07-14 23:18:34+00:00,"$DIS it could break the 120 pin, then 125&gt; ...",NaN,DIS
15566,301411,2020-05-06 04:22:19+00:00,Amedisys Inc $AMED COO Christopher Gerard Sell...,NaN,AMED

In [37]:
df = df_expanded

In [38]:
df['ticker'].value_counts()

ticker
SPX     938
SPY     655
AAPL    641
AMZN    561
FB      479
       ...
ZEAL      1
MINI      1
ETHE      1
SOME      1
AMED      1
Name: count, Length: 2060, dtype: int64

In [39]:
import yfinance as yf

def is_valid_ticker(ticker):
    # load data for a given ticker
    stock = yf.Ticker(ticker)
    try:
        # try to get info
        info = stock.info
        return info is not None
    except:
        # raise an exception if it fails
        return False

In [40]:
import os

possible_tickers  = df['ticker'].unique()

# convert all tickers to string
possible_tickers = [str(ticker) for ticker in possible_tickers]

# ignore the numbers
possible_tickers = [ticker for ticker in possible_tickers if not ticker.isdigit()]


# commented out because it executes for too long
# I saved the valid tickers into txt file

output = 'valid_tickers.txt'

#execute if there is no output file in the directory
if not os.path.exists(output):
    with open(output, 'w') as file:
        for ticker in possible_tickers:
            if is_valid_ticker(ticker):
                file.write(ticker + '\n')

In [41]:
path = 'valid_tickers.txt'

valid_tickers = []

with open(path, 'r') as file:
    for line in file:
        clean_line = line.strip().replace('[', '').replace(']', '').replace("'", "").replace(',', '')
        
        if clean_line:
            valid_tickers.append(clean_line)

print(valid_tickers)

['nan', 'AMD', 'SPR', 'AMZN', 'TSLA', 'MSFT', 'AAPL', 'BA', 'FB', 'LUV', 'MMM', 'GE', 'AAL', 'UPS', 'TWTR', 'PFE', 'CBSH', 'PEP', 'MA', 'GOOGL', 'GILD', 'SBUX', 'UAL', 'SAVE', 'CRM', 'SPX', 'BTC', 'VIR', 'SPY', 'QQQ', 'IWM', 'IQ', 'GLUU', 'NFLX', 'DIS', 'INTC', 'SNAP', 'AMAT', 'NIO', 'MRK', 'ODP', 'CIO', 'FDX', 'HPP', 'HIW', 'HYG', 'EBAY', 'M', 'T', 'FOREX', 'TS', 'UONE', 'SAM', 'DJI', 'NDX', 'RUT', 'ES', 'DHX', 'V', 'MCD', 'WMT', 'TGT', 'DG', 'TSCO', 'FANG', 'WORK', 'DLPN', 'ABBV', 'TEVA', 'TDOC', 'VIX', 'VXX', 'UVXY', 'SVXY', 'GOOG', 'GSKY', 'GOLD', 'BYND', 'COST', 'NVDA', 'ZM', 'BABA', 'DOW', 'BB', 'KTOV', 'IDEX', 'BIOC', 'XSPA', 'SH', 'SHOP', 'PAYX', 'ASPU', 'SMPL', 'WBA', 'BBBY', 'LEVI', 'SGH', 'MSM', 'HELE', 'AZ', 'SFIX', 'CSCO', 'STX', 'DKS', 'CNI', 'CERS', 'AHH', 'RDFN', 'CMG', 'SPXS', 'SPXL', 'SPXU', 'JPM', 'C', 'FISV', 'WFC', 'JNJ', 'VFC', 'BRK', 'EEM', 'MRNA', 'PENN', 'MARK', 'TMDI', 'GSK', 'PM', 'EIX', 'BIDU', 'XLF', 'CHWY', 'PTON', 'F', 'ADBE', 'CCL', 'MGM', 'HD', 'XLE', 'XOM', 'RCL', 'NCLH', 'HOG', 'TDG', 'CAT', 'GPS', 'SIVB', 'LB', 'PBT', 'PTGEF', 'CVCY', 'GPFT', 'ATVI', 'LULU', 'CHRW', 'EZJ', 'TRNE', 'DGLY', 'OSTK', 'MELI', 'GS', 'GNRC', 'HDII', 'NSC', 'ETH', 'BAH', 'KMX', 'UNH', 'DAL', 'DPZ', 'BAC', 'FAST', 'ABT', 'FRC', 'GCI', 'TELL', 'AWOX', 'YEXT', 'OIL', 'EURUSD', 'ROKU', 'GLD', 'PYPL', 'SQ', 'NKE', 'TWLO', 'VEON', 'UAVS', 'VEEV', 'ZS', 'MRVL', 'EPD', 'STRO', 'CRH', 'HBM', 'DIA', 'WYNN', 'WKHS', 'EDIT', 'FOLD', 'LX', 'CWH', 'PING', 'ERI', 'APT', 'NK', 'SE', 'VSLR', 'MSF', 'BLK', 'SNE', 'RKUNY', 'CMCSA', 'ITOX', 'NQ', 'RTY', 'ZB', 'GC', 'QCOM', 'GDX', 'DAX', 'SLV', 'TLT', 'LYFT', 'TVIX', 'IBM', 'NWN', 'AYX', 'TTD', 'DDOG', 'MDB', 'AVLR', 'LGF', 'XLK', 'HEXO', 'TLRY', 'CGC', 'AMRX', 'COKE', 'TGODF', 'KGKG', 'VZ', 'S', 'CRI', 'ACB', 'APHA', 'CRON', 'TRTC', 'CANN', 'GWPH', 'MCIG', 'MJNA', 'AMMJ', 'GRNH', 'CARA', 'CANA', 'CGRW', 'CBDS', 'CLSH', 'CODI', 'CVSI', 'DIGP', 'MDCL', 'MNTR', 'MJNE', 'MYDX', 'NMUS', 'NTRR', 'NHLE', 'NDEV', 'OXIS', 'PRRE', 'RMHB', 'SPRWF', 'SRNA', 'YM', 'AEHR', 'ANTM', 'NEE', 'DUK', 'KSU', 'ITW', 'LEG', 'USFD', 'CVS', 'FAANG', 'WACT', 'KR', 'KFY', 'JBHT', 'LSTR', 'AVNS', 'D', 'MWA', 'PNC', 'BK', 'PJP', 'NKLA', 'TQQQ', 'DKNG', 'KO', 'ASND', 'DJIA', 'GSPC', 'PINS', 'INSG', 'CDEV', 'IMRN', 'ARPO', 'ATH', 'DJ', 'RIGL', 'EBON', 'IMV', 'PRCP', 'INMB', 'EQ', 'ICON', 'ALT', 'NMGC', 'ACN', 'CTSH', 'TCS', 'WIT', 'HCL', 'CERN', 'CDXC', 'IONS', 'ALNY', 'ARWR', 'DRNA', 'AKCA', 'WVE', 'SRPT', 'BIIB', 'AZN', 'NVS', 'LINK', 'ASML', 'STUDY', 'SAP', 'LABU', 'XBI', 'VNRX', 'CL', 'BDO', 'APC', 'UCO', 'RIG', 'USO', 'TNAV', 'JNUG', 'NUGT', 'ERX', 'EWJ', 'EWG', 'EWL', 'EWP', 'EWN', 'MS', 'SAN', 'GDXJ', 'ICD', 'PSTI', 'NLS', 'CEI', 'PNR', 'GPRO', 'MU', 'TXN', 'ZUO', 'JNK', 'SPAB', 'SPHY', 'PPL', 'MO', 'LNKD', 'CPK', 'GENE', 'AVGO', 'HPQ', 'SPCE', 'UAA', 'ETSY', 'RCS', 'TOL', 'ORCL', 'INFY', 'DAI', 'ERIC', 'FIVN', 'LII', 'SCO', 'SPOT', 'HAS', 'APRN', 'YUM', 'HUM', 'AMT', 'GD', 'NOC', 'ZHUD', 'NE', 'NTN', 'NCTY', 'CHCI', 'COHN', 'VVPR', 'AFH', 'EMBL', 'AAWC', 'SEGN', 'IT', 'EZPW', 'CI', 'NERV', 'AGN', 'CMS', 'KZR', 'ENVA', 'MRW', 'GMGI', 'MJN', 'DBC', 'NUE', 'APPL', 'INTU', 'SPLK', 'GRUB', 'GNPX', 'IMMU', 'MESO', 'INO', 'HTBX', 'LK', 'DE', 'PG', 'AZRX', 'GRCV', 'DLOC', 'BBRW', 'TREP', 'HDUP', 'CGLD', 'TMXN', 'HWKE', 'GOSY', 'PGAS', 'BRLL', 'AM', 'SATS', 'GSX', 'SMH', 'TJX', 'LILA', 'CARV', 'POLA', 'VXRT', 'BYFC', 'COF', 'DFS', 'AXP', 'AQN', 'AMGN', 'SQQQ', 'ALXN', 'BKNG', 'GRPN', 'CLVS', 'SRNE', 'DVAX', 'TRIL', 'CODX', 'KSS', 'NVAX', 'EURN', 'SSL', 'BILI', 'CVNA', 'TCE', 'TEAM', 'PS', 'FXI', 'JBLU', 'MKC', 'VTIQ', 'CNH', 'DUO', 'TLSS', 'A', 'CINR', 'GT', 'AA', 'AMZA', 'UBER', 'GNUS', 'HTZ', 'MVIS', 'WLL', 'GNC', 'JFIN', 'CIDM', 'CZZ', 'NYSE', 'DXY', 'TRIN', 'NNN', 'OAS', 'FCX', 'SHLL', 'Z', 'TTI', 'API', 'MET', 'BNTX', 'TMUS', 'ZOOM', 'WEN', 'XRP', 'CIM', 'USD', 'ATSG', 'AAWW', 'CJT', 'IBIO', 'NNVC', 'NWBO', 'AVXL', 'TOMZ', 'AMRN', 'ACST', 'MTCH', 'AVDL', 'VNOM', 'CRC', 'IWR', 'TACT', 'LOPE', 'TLSRP', 'VOO', 'IVV', 'CNC', 'MOH', 'HHT', 'BOXL', 'LRN', 'MC', 'VIAC', 'DISCA', 'FOX', 'RS', 'DBMM', 'COP', 'CVX', 'OXY', 'APA', 'CLR', 'RLGY', 'X', 'HSBC', 'LYG', 'IBB', 'BIOX', 'REGN', 'XLC', 'NUAN', 'ZNGA', 'I', 'RAD', 'SL', 'MYL', 'ALPP', 'SKDI', 'SNDD', 'GRNF', 'SHMP', 'CLWD', 'IPIX', 'FIS', 'SSFT', 'UTMD', 'IZEA', 'ZOM', 'AYTU', 'OZSC', 'TOPS', 'AEZS', 'SOLO', 'RIOT', 'HTGM', 'BBI', 'FORT', 'ISBC', 'SLS', 'VTVT', 'DUOT', 'FXE', 'ACWI', 'FXB', 'UUP', 'FXA', 'FXC', 'FXY', 'KGC', 'LRCX', 'MNTA', 'NEOP', 'PETQ', 'SCCO', 'CXO', 'AZZ', 'BLPH', 'NOVN', 'OPK', 'LOW', 'TROW', 'NOW', 'OKTA', 'FSLY', 'SFM', 'BMTC', 'ATNM', 'GM', 'CHK', 'RRC', 'UNG', 'MNK', 'ENDP', 'KOL', 'ETC', 'PAAS', 'AUY', 'VISL', 'RHHBY', 'ONCE', 'NAKD', 'MIST', 'APPLE', 'MNRA', 'MMLP', 'ADAP', 'CLF', 'DENN', 'GOOS', 'ADS', 'ALGN', 'LITE', 'BHC', 'HLF', 'IEP', 'CS', 'TST', 'QSR', 'MNST', 'CRWD', 'COUP', 'NVD', 'SILVER', 'DOCU', 'LY', 'ZION', 'OBSV', 'MID', 'SML', 'AWK', 'COMPQ', 'DB', 'BOTZ', 'RL', 'EGO', 'GTBIF', 'PMAH', 'DANG', 'CSX', 'HON', 'WM', 'EFX', 'P', 'EUR', 'WOR', 'NOG', 'SHIP', 'JCP', 'EVC', 'RESI', 'MAGS', 'SMHI', 'HJV', 'GTYH', 'SBLK', 'SP', 'CLX', 'ADTN', 'SMLR', 'EA', 'LVGO', 'PLNT', 'TPUB', 'O', 'AMSC', 'HAL', 'WMB', 'W', 'SVMK', 'BKX', 'RRGB', 'RGA', 'KMB', 'ZTS', 'TWNK', 'BTCUSD', 'ETHUSD', 'USDT', 'XRPUSD', 'BCH', 'BCHUSD', 'BSV', 'AUDJPY', 'AUDUSD', 'E', 'HAO', 'BCNA', 'ASHX', 'FLTW', 'CHNA', 'CHIX', 'YAO', 'CNYA', 'ZHOK', 'CQQQ', 'CHIM', 'CHII', 'AFTY', 'AEMD', 'CHTR', 'SCHW', 'NASDAQ', 'GOO', 'MRO', 'TBLT', 'IRWD', 'DVN', 'BCRX', 'AKBA', 'IOVA', 'SM', 'ECR', 'GPOR', 'BASA', 'ALYI', 'VCRA', 'TSN', 'NVTA', 'AMZ', 'ALV', 'AMX', 'LSXMA', 'ALGO', 'ADA', 'XLM', 'EOS', 'SNX', 'ENJ', 'NEM', 'LTC', 'STZ', 'FBHS', 'CPE', 'FRKN', 'PIX', 'NLSN', 'LMT', 'SVTE', 'INCY', 'SLGN', 'DECN', 'DPW', 'ENT', 'QEP', 'ELGX', 'GTE', 'N', 'CFG', 'AKAM', 'VXAZN', 'EXLS', 'XOP', 'DRIP', 'OIH', 'GUSH', 'ERY', 'IPHI', 'LITB', 'MLCO', 'SNBR', 'VXV', 'HUGE', 'CASBF', 'EROS', 'COTY', 'NXPI', 'PLAY', 'SABR', 'TIF', 'FEYE', 'CSTM', 'CHEF', 'PPC', 'ESPR', 'EADSY', 'FBNC', 'ZTO', 'RNG', 'SGEN', 'FNV', 'QDEL', 'BLL', 'HFG', 'CRB', 'UNP', 'RDSA', 'SON', 'UCB', 'FTSE', 'NIKKEI', 'SHOO', 'NYSEAMERICAN', 'XLRE', 'XLV', 'TSM', 'BP', 'MAR', 'CLL', 'FONU', 'FNKO', 'PCTL', 'ETN', 'VLO', 'REC', 'TPR', 'TRIP', 'TUP', 'TWO', 'UDOW', 'UPRO', 'USB', 'VALE', 'VEA', 'VER', 'VICI', 'WDC', 'WPX', 'WTI', 'WU', 'XLI', 'XLP', 'XLU', 'XAU', 'XRT', 'GOOP', 'LIB', 'NEPT', 'BILZ', 'IFF', 'NRTH', 'AVCN', 'APO', 'UPWK', 'RHI', 'RCRRF', 'HQI', 'NSP', 'AMN', 'FDP', 'FRO', 'TNK', 'TNP', 'AVA', 'CWT', 'PKE', 'TK', 'MCK', 'GNK', 'SWX', 'SPH', 'UN', 'MPV', 'SHI', 'SHAK', 'WTHR', 'WEED', 'CWBHF', 'TCNNF', 'CWEB', 'AAP', 'EB', 'URBN', 'TD', 'QD', 'JMIA', 'ASNA', 'AEO', 'WELL', 'KBE', 'VUZI', 'VIPS', 'NEWR', 'RUN', 'ALL', 'CTVA', 'AGI', 'ABB', 'ABC', 'ABIO', 'ABMD', 'ABR', 'ACHC', 'ACW', 'JSEWHL', 'IXIC', 'CAC', 'SNWR', 'SINA', 'SIRI', 'SONO', 'TME', 'AMC', 'KAR', 'CGNX', 'CGEN', 'CCI', 'IMAX', 'ISRG', 'KDP', 'PSX', 'DGX', 'WFM', 'UTX', 'RHT', 'BRG', 'APTV', 'CTYX', 'COCP', 'BCS', 'MLFB', 'BMY', 'J', 'VVIX', 'TCMD', 'CTIB', 'ARMN', 'PCTY', 'LORL', 'YELP', 'NWL', 'SDC', 'INN', 'RDS', 'IGR', 'BIP', 'FTS', 'XT', 'LBTYA', 'AGRA', 'AGFAF', 'XAN', 'NYMT', 'CONN', 'TCFF', 'SLB', 'NOV', 'TOT', 'DO', 'NEO', 'OFIX', 'STMP', 'SAND', 'ESE', 'FCEL', 'NOK', 'GMBL', 'SRC', 'MRN', 'TWT', 'TNX', 'BIG', 'ICFI', 'JD', 'UBS', 'POL', 'MT', 'FFARM', 'FUV', 'KNDI', 'BLNK', 'MDC', 'BILL', 'MFA', 'OGI', 'IVR', 'NRZ', 'CPRX', 'TLLTF', 'PLUG', 'GLBS', 'PRPH', 'LYRA', 'CTRM', 'SIEB', 'PED', 'FNHC', 'AYLA', 'RMED', 'STAG', 'EHTH', 'KROS', 'FLTR', 'SONN', 'WWE', 'OZK', 'GNTX', 'VC', 'SKX', 'EW', 'STOXX', 'NAK', 'HFC', 'DISH', 'MES', 'AREXQ', 'AXXA', 'BSTK', 'TREE', 'INFU', 'ADGS', 'KWBT', 'CRGP', 'SBES', 'LGND', 'WORX', 'TRNX', 'VGTL', 'VRUS', 'TPTW', 'CNTG', 'KNSA', 'ICPT', 'DXCM', 'ARYA', 'OSMT', 'CARR', 'DFNS', 'LCA', 'MWVMDT', 'DMLP', 'BOMN', 'TLRA', 'STM', 'LQD', 'CFRX', 'OGKE', 'KOPN', 'EMAN', 'QMXGF', 'SPAQ', 'CABO', 'AIZ', 'LXP', 'BLIS', 'PHGRF', 'EVSV', 'WRFX', 'NOUV', 'WOGI', 'PURA', 'KALY', 'PTI', 'FTEG', 'PHK', 'DNAD', 'CLM', 'CRF', 'GIFX', 'LTSN', 'BYOC', 'GMER', 'HBAN', 'SWN', 'NLY', 'NBY', 'GBT', 'DLB', 'SUN', 'BHOOY', 'DLTH', 'LLIT', 'CHFS', 'UONEK', 'EBS', 'SPB', 'SIX', 'PAGP', 'EU', 'INPX', 'ETFC', 'UCP', 'NNDM', 'CLSK', 'GRNQ', 'SPOM', 'INV', 'ENIX', 'FLEX', 'CPRI', 'YNDX', 'BCOR', 'CHGG', 'NYT', 'ANGI', 'AJG', 'SPG', 'RY', 'STORE', 'PLAN', 'GIS', 'CBS', 'NETE', 'VIE', 'WINS', 'DPST', 'SWTX', 'PHAT', 'LBJ', 'RLMD', 'ZNTL', 'CYBE', 'ARCT', 'FNGU', 'SOME', 'ETHE', 'MINI', 'ZEAL', 'SHEN', 'HIBL', 'BRZU', 'EIDX', 'GSFI', 'FSLR', 'BE', 'SLDB', 'DML', 'TM', 'VDBA', 'ROP', 'BDX', 'LLY', 'TRTX', 'EPR', 'RWT', 'USDCHF', 'FX', 'RT', 'USOIL', 'MAIN', 'EME', 'RF', 'AMCR', 'KEMQ', 'MDRX', 'EVOK', 'AMP', 'AVB', 'ECL', 'LH', 'CETV', 'LTRPB', 'XLY', 'HOME', 'ALK', 'ETR', 'CPCE', 'ENZ', 'EF', 'BWA', 'SEDG', 'NMFC', 'RGGI', 'JCPNQ', 'GSAH', 'DJA', 'IYG', 'LVS', 'ABEV', 'AQMS', 'AGRX', 'FBIO', 'PETS', 'DSE', 'REY', 'NEXI', 'PRY', 'MTRN', 'CSGS', 'GLOB', 'VCX', 'MDT', 'PLM', 'GERN', 'ZN', 'USM', 'AN', 'AKTS', 'SLF', 'TTWO', 'LOVE', 'URI', 'SITE', 'ULTA', 'CCS', 'WH', 'NTES', 'BAP', 'LLNW', 'VERI', 'BWEN', 'KEY', 'MBTF', 'ANSS', 'ECOR', 'KKR', 'AGNC', 'OPTI', 'ADNY', 'CLSI', 'SLNX', 'SNVP', 'HIRU', 'FBCD', 'LEAS', 'FRCN', 'BS', 'GBPUSD', 'TWR', 'TYVIX', 'GVX', 'VAL', 'SPCB', 'XOG', 'PACD', 'CHAP', 'DNR', 'ENOB', 'ENSV', 'AXAS', 'FET', 'NRGU', 'DLHC', 'MDCO', 'KRTX', 'PODD', 'ARKG', 'ARKK', 'ARKW', 'SVM', 'FVI', 'NKY', 'EVFM', 'KMI', 'ADPT', 'TYX', 'APDN', 'FEAC', 'BMRA', 'ACA', 'BIOL', 'LNVG', 'DELL', 'RRI', 'RVSDF', 'EQT', 'EWM', 'AIG', 'DBX', 'VITQ', 'ROSS', 'JWN', 'TXMD', 'SPHD', 'CRBP', 'VKTX', 'NTDOY', 'VTI', 'IGC', 'FOXA', 'ESTC', 'XAG', 'STRA', 'LYTS', 'VT', 'EAT', 'YVR', 'TEDU', 'LAIX', 'GPX', 'WTER', 'FMX', 'BREW', 'COMP', 'RUSS', 'JAKK', 'NLOK', 'MTRX', 'NXE', 'AZO', 'ORLY', 'GWW', 'TMO', 'TSA', 'VICR', 'COHR', 'QURE', 'HUBS', 'WSO', 'RH', 'RGEN', 'MASI', 'PZZA', 'LAD', 'MKTX', 'ANET', 'NVRO', 'TCCO', 'SNSS', 'QLGN', 'RGLS', 'CLIR', 'LMFA', 'JMXXF', 'USDJPY', 'CSP', 'TFC', 'HRL', 'MATIC', 'IM', 'OUT', 'CUB', 'TOO', 'HE', 'ONE', 'CGI', 'ZIOP', 'PQG', 'PBR', 'HDP', 'XENT', 'DNB', 'ONCO', 'PHGUF', 'ROST', 'SMRT', 'DEAC', 'NAVI', 'CMI', 'OCO', 'YY', 'ALEC', 'IXC', 'CASH', 'BORR', 'BME', 'AYRO', 'SUNW', 'MYOS', 'TTOO', 'YRCW', 'ATHE', 'LKCO', 'BLDP', 'VRML', 'CAPR', 'WES', 'OIS', 'NBR', 'PANW', 'FOCS', 'EV', 'AOSL', 'CBDL', 'BUD', 'HEAR', 'HX', 'PHAS', 'BHAT', 'ASRT', 'TGI', 'SOXX', 'HBAR', 'OOTT', 'CONE', 'MRVGF', 'XAR', 'MGNX', 'MTRO', 'PIXY', 'ATHX', 'ASPL', 'BOKF', 'PETV', 'WTFCM', 'FLR', 'TY', 'CVTV', 'HIFS', 'MPC', 'BMRC', 'GNMK', 'VERU', 'TNXP', 'AIM', 'BKS', 'VIXSPX', 'CTXS', 'EXPE', 'SOL', 'MTN', 'BGBIO', 'BRRGF', 'SSP', 'EMINI', 'FBC', 'ABCE', 'AMAZ', 'KNOS', 'LBC', 'AFG', 'HMY', 'MAT', 'FAS', 'AMRH', 'LPI', 'BHTG', 'MARA', 'CELZ', 'HAN', 'ARNA', 'CVE', 'MX', 'SU', 'CNQ', 'PXD', 'NEXCF', 'INDU', 'XTN', 'XLB', 'ATRO', 'PALL', 'DSKYF', 'CMCS', 'ADM', 'ADP', 'FLS', 'FTV', 'L', 'HST', 'KIM', 'ADI', 'GDET', 'ADSK', 'MXIM', 'ILMN', 'TRV', 'STNG', 'XHB', 'TAP', 'EARN', 'MR', 'BIT', 'BIN', 'TEN', 'AGO', 'FVRR', 'NTRS', 'PGR', 'TEL', 'WSM', 'PFG', 'BVN', 'BJRI', 'KVHI', 'RGNX', 'TRPX', 'GTS', 'VIVO', 'PH', 'ALLE', 'DHR', 'EMR', 'IRM', 'FWP', 'TT', 'IQST', 'WIMI', 'EXR', 'RVV', 'BOSS', 'THMO', 'AHT', 'JILL', 'PRTY', 'CREX', 'NZDUSD', 'USDZAR', 'USDCAD', 'EURCHF', 'CMO', 'PMT', 'GPC', 'PLD', 'WTT', 'RCI', 'CSPS', 'RXMD', 'XCPL', 'BAB', 'BURL', 'VBIV', 'CDNS', 'CAVM', 'CHKP', 'CSC', 'DVMT', 'DOV', 'DST', 'AMTD', 'SPNE', 'IPPLF', 'NIKK', 'KOSPI', 'SSEC', 'CRUDE', 'TCF', 'CX', 'MSI', 'DECK', 'THO', 'SYY', 'SGC', 'AG', 'ATIF', 'BOSC', 'SAEX', 'NFG', 'YTEN', 'SGMO', 'FCN', 'FTCH', 'BBY', 'NTRA', 'SIL', 'SILJ', 'FTNT', 'BLU', 'THOR', 'XBIT', 'ARQL', 'FATE', 'ACHV', 'AGIO', 'ABEO', 'RCKT', 'DTIL', 'SESN', 'PDD', 'LRAD', 'CETX', 'SRE', 'VRAY', 'CAP', 'RC', 'UL', 'IVC', 'CYDY', 'GSI', 'GKPRF', 'DJT', 'ACI', 'ALLY', 'NYCB', 'ET', 'NAT', 'ITUB', 'IBO', 'PPG', 'EBML', 'GOIG', 'XYL', 'FSX', 'AD', 'CNP', 'TFX', 'EYEN', 'ACIU', 'SCYX', 'PULM', 'CF', 'BMI', 'TWX', 'AXS', 'PTO', 'BKGFY', 'SWBI', 'RBA', 'MAS', 'NVR', 'LEN', 'DHI', 'WHR', 'JCI', 'PRPL', 'TCOM', 'MFC', 'KAI', 'EL', 'POG', 'KHC', 'NBL', 'GLIBA', 'CSU', 'UBP', 'GAW', 'TPL', 'AJRD', 'SSRTF', 'ROIC', 'HII', 'FIZZ', 'LAMR', 'PAC', 'CCO', 'MSFY', 'IMO', 'YOLO', 'GDEN', 'JETS', 'RGR', 'TAST', 'CME', 'FMCI', 'AKRO', 'GRVY', 'FRSX', 'GGAL', 'YPF', 'JADA', 'RZI', 'BEP', 'TERP', 'TCI', 'URNM', 'FMC', 'CNNA', 'HIMX', 'WATT', 'WIX', 'K', 'SNY', 'JKHY', 'ENLC', 'NF', 'SSNLF', 'PCRFY', 'CARG', 'CARS', 'TRUE', 'RMBL', 'XSP', 'APD', 'HPE', 'TAL', 'GWRE', 'DOM', 'CNA', 'LANC', 'SJM', 'RUI', 'LYB', 'MLM', 'COHU', 'AES', 'AEE', 'XEL', 'EXC', 'NRG', 'SO', 'PCG', 'FE', 'PEG', 'ED', 'PNW', 'NI', 'ADD', 'FITB', 'GES', 'GSNOW', 'GBPJPY', 'GBP', 'SOXL', 'AMBC', 'XLNX', 'EFA', 'PCRX', 'MAC', 'GMD', 'ALG', 'CBA', 'VOD', 'GRMM', 'DSSI', 'BDL', 'CMLS', 'XL', 'XLG', 'QFIN', 'CAAP', 'CYD', 'EKSO', 'HES', 'ALGT', 'NDAQ', 'NEP', 'CREE', 'ELY', 'MPLX', 'OKE', 'AWI', 'CNX', 'ACGX', 'CAE', 'FCNTX', 'TRCBX', 'AGTHX', 'DGE', 'OVV', 'MUR', 'WB', 'WY', 'IR', 'CINE', 'IBKC', 'AMPH', 'ASB', 'CLGX', 'EVR', 'FUN', 'HUBG', 'KLAC', 'NGHC', 'SEAS', 'STT', 'TPIC', 'USX', 'WING', 'WTRH', 'NXS', 'CHMG', 'APEX', 'HENOY', 'GRSO', 'CMRX', 'SFTB', 'TNDM', 'UA', 'AVAV', 'FTEK', 'FFIV', 'CPH', 'MOGO', 'PHO', 'HUT', 'HIGH', 'TXRH', 'STOCKS', 'NGG', 'FDS', 'KBH', 'DRI', 'SKT', 'ACTT', 'BX', 'MNI', 'MNIQQ', 'CPG', 'SOCL', 'NYSI', 'STRM', 'TPC', 'SMMT', 'LMB', 'HTSC', 'CAG', 'AT', 'APTO', 'CYIO', 'ORCC', 'VIIX', 'IWN', 'IWO', 'IEF', 'AZNCF', 'SDS', 'IAU', 'ITRO', 'BBIO', 'CANF', 'EPIX', 'OI', 'TV', 'MN', 'TA', 'AAXN', 'ITM', 'HLT', 'JP', 'VSTM', 'USDX', 'HSCEI', 'SENSEX', 'SWKS', 'BRP', 'AXU', 'DMAC', 'MNRL', 'PANL', 'CNFR', 'PCOM', 'PNTG', 'FNJN', 'FLL', 'AVGR', 'TCON', 'NVA', 'ZOOX', 'URGN', 'VTR', 'RTX', 'SFOR', 'VRM', 'ARTH', 'RMD', 'BRKS', 'FIE', 'ZEB', 'PRPO', 'UXIN', 'YUMA', 'SFS', 'RBZ', 'MDLZ', 'FHBC', 'WAT', 'MRGE', 'BHR', 'NSPR', 'ALSK', 'RUSHA', 'BND', 'WALLSTREET', 'FOMC', 'FEDERALRESERVE', 'NDQ', 'EJFI', 'IMUC', 'RMBS', 'VRTX', 'NBIX', 'BIB', 'SCHN', 'BLDR', 'NAIL', 'DY', 'VSTO', 'CUK', 'CLEU', 'ICUI', 'LLEX', 'BSFFF', 'FERL', 'VET', 'WAND', 'IBTX', 'IRTC', 'PRIM', 'BOX', 'DHT', 'TGTX', 'DLTR', 'DLR', 'OMI', 'PTGX', 'UGLD', 'LTM', 'CAR', 'ARNC', 'GBR', 'JF', 'TCO', 'ZG', 'STNE', 'TCEH', 'MCTC', 'RVNC', 'EOLS', 'EEFT', 'WEX', 'FLT', 'LPRO', 'EVOP', 'GPN', 'EVTC', 'FFHL', 'STIM', 'SPI', 'ADPL', 'IVZ', 'CLDR', 'BBD', 'FTAI', 'JAGX', 'DSS', 'TRIB', 'PHIO', 'TLSA', 'SDOW', 'APVO', 'VRSN', 'VIT', 'NSPX', 'DWDP', 'ABM', 'PCALL', 'BWXT', 'UMPQ', 'ENB', 'SJR', 'BMO', 'VATE', 'TACO', 'WCVC', 'PSV', 'RETO', 'MATX', 'FSS', 'BRKA', 'EQC', 'BPSPX', 'EMN', 'APY', 'SLAB', 'CROX', 'CELG', 'VIAV', 'DCT', 'WPZ', 'ADMP', 'BCOM', 'MYT', 'ENPN', 'ILMNN', 'BPNC', 'CTAS', 'TVLX', 'TSLS', 'SMTC', 'SUSL', 'IAC', 'MCHP', 'OMID', 'UPIN', 'OSS', 'EPZM', 'NGL', 'DHC', 'TGE', 'LNC', 'EQIX', 'IIPR', 'TEVJF', 'FICO', 'NOVA', 'SYF', 'SONA', 'SNANF', 'GSBC', 'XFLS', 'GBTC', 'BEL', 'BKR', 'CUZ', 'AAN', 'BC', 'CNTTF', 'GNCP', 'CNPOF', 'BPTH', 'ATTO', 'SYBT', 'BBSI', 'PAGS', 'IO', 'PLMR', 'QLYS', 'SNDR', 'CE', 'WMG', 'ZI', 'EDXC', 'TTCM', 'LMND', 'REAL', 'RRR', 'RUTH', 'TRI', 'TSEM', 'SHYG', 'SCHD', 'VLUE', 'VCIT', 'SDY', 'AOA', 'AOR', 'AOM', 'AOK', 'AGG', 'TFI', 'SHY', 'TIP', 'GBIL', 'MTUM', 'VUG', 'EDV', 'QUAL', 'SOHU', 'PECK', 'DKL', 'SBOW', 'KEQU', 'AKG', 'HSTM', 'AEX', 'SRCE', 'IHI', 'DR', 'GOVX', 'CDNX', 'COPPER', 'RVDO', 'TTPH', 'DIRV', 'BLXX', 'TGHI', 'MYO', 'HGSH', 'AMED']

In [42]:
# having the valid tickers, we can now filter the dataframe to only include the valid tickers
df = df[df['ticker'].isin(valid_tickers)]
df

,id,created_at,text,sentiment,ticker
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,positive,AMD
6,472959,2020-06-09 05:23:06+00:00,$863.69 Million in Sales Expected for Spirit A...,positive,SPR
10,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,neutral,AMZN
11,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,neutral,TSLA
12,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,neutral,MSFT
...,...,...,...,...,...
15562,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,ZOM
15563,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,DSS
15564,627230,2020-06-23 14:08:15+00:00,$ITOX working on a contract with a fortune 500...,NaN,HGSH
15565,890123,2020-07-14 23:18:34+00:00,"$DIS it could break the 120 pin, then 125&gt; ...",NaN,DIS
15566,301411,2020-05-06 04:22:19+00:00,Amedisys Inc $AMED COO Christopher Gerard Sell...,NaN,AMED

In [43]:
# drop sentiment column
df.drop(columns='sentiment', inplace=True)

C:\Users\48726\AppData\Local\Temp\ipykernel_3432\308094904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='sentiment', inplace=True)

In [44]:
df.head()

,id,created_at,text,ticker
4,830153,2020-07-09 14:39:14+00:00,$AMD Ryzen 4000 desktop CPUs looking â€˜greatâ€™ a...,AMD
6,472959,2020-06-09 05:23:06+00:00,$863.69 Million in Sales Expected for Spirit A...,SPR
10,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,AMZN
11,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,TSLA
12,223041,2020-04-27 00:41:06+00:00,RT @PipsToDollars: Earnings $AMZN $TSLA $MSFT ...,MSFT

In [46]:
# after a brief analysis I noticed, that there are some problems with the 'text' column

#the problem is that some text contain ; symbol, so we need to take care of that
df['text'] = df['text'].str.replace(';', ',')
#we also need to clear all new line signs from the text
df['text'] = df['text'].str.replace('\n', ' ')

# I replace the semicolon with a coma and new line with a space, what is not ideal, but will work

C:\Users\48726\AppData\Local\Temp\ipykernel_3432\3701072222.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.replace(';', ',')
C:\Users\48726\AppData\Local\Temp\ipykernel_3432\3701072222.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text'] = df['text'].str.replace('\n', ' ')

In [47]:
df.to_csv('tweets_labelled_cleared.csv', sep=';', index=False)