In [1]:
import pandas as pd

In [3]:
tickers_df = pd.read_csv("NASDAQ_stock_data_processed.csv", index_col=0)

ticker_list = []
display(tickers_df.head(2))
for i in range(0,len(tickers_df),6):
    ticker_list.append(tickers_df.columns[i].split("_")[0])

print(ticker_list)

,AAL_Adj Close,AAL_Close,AAL_High,AAL_Low,AAL_Open,AAL_Volume,AAME_Adj Close,AAME_Close,AAME_High,AAME_Low,...,ZIV_High,ZIV_Low,ZIV_Open,ZIV_Volume,ZUMZ_Adj Close,ZUMZ_Close,ZUMZ_High,ZUMZ_Low,ZUMZ_Open,ZUMZ_Volume
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-03 00:00:00+00:00,4.83,5.12,5.22,5.07,5.20,6105900,1.83,1.97,1.99,1.96,...,12.71,12.65,12.67,4155,26.46,26.46,27.99,25.76,27.63,1154200
2012-01-04 00:00:00+00:00,4.74,5.03,5.18,4.97,5.09,5268700,1.82,1.96,1.96,1.96,...,12.93,12.78,12.78,5990,26.33,26.33,26.74,25.57,26.22,832200

['AAL', 'AAME', 'AAON', 'AAPL', 'AAXJ', 'ABCB', 'ABIO', 'ACAD', 'ACFN', 'ACGL', 'ACHC', 'ACIW', 'ACLS', 'ACNB', 'ACTG', 'ACUR', 'ACWI', 'ACWX', 'ADBE', 'ADI', 'ADP', 'ADRE', 'ADSK', 'ADTN', 'ADUS', 'AEHR', 'AEIS', 'AGEN', 'AGNC', 'AGYS', 'AIRT', 'AKAM', 'ALCO', 'ALGN', 'ALGT', 'ALIM', 'ALKS', 'ALLT', 'ALNY', 'ALOT', 'AMAT', 'AMCF', 'AMCX', 'AMD', 'AMED', 'AMGN', 'AMKR', 'AMRN', 'AMSC', 'AMSF', 'AMSWA', 'AMTX', 'AMWD', 'AMZN', 'ANDE', 'ANGI', 'ANGO', 'ANIK', 'ANIP', 'ANSS', 'ANTH', 'AOSL', 'APDN', 'APEI', 'APOG', 'APTO', 'APWC', 'ARAY', 'ARCB', 'ARCC', 'ARKR', 'ARLP', 'AROW', 'ARTNA', 'ARTW', 'ARWR', 'ASMB', 'ASML', 'ASPS', 'ASRV', 'ASTC', 'ASTE', 'ASUR', 'ASYS', 'ATEC', 'ATLC', 'ATLO', 'ATNI', 'ATRC', 'ATRI', 'ATRO', 'ATSG', 'AUBN', 'AUDC', 'AVAV', 'AVGO', 'AVNW', 'AWRE', 'AXDX', 'AXGN', 'AXTI', 'AZPN', 'BANFP', 'BANF', 'BANR', 'BBGI', 'BBSI', 'BCBP', 'BCLI', 'BCPC', 'BCRX', 'BDSI', 'BEBE', 'BECN', 'BELFA', 'BELFB', 'BFIN', 'BGFV', 'BGMD', 'BIB', 'BICK', 'BIDU', 'BIIB', 'BIOL', 'BIS', 'BJRI', 'BKSC', 'BLDP', 'BLDR', 'BLFS', 'BLIN', 'BLKB', 'BLRX', 'BMRC', 'BMRN', 'BOKF', 'BOOM', 'BOSC', 'BOTJ', 'BPOPM', 'BPOP', 'BPTH', 'BRID', 'BRKL', 'BRKR', 'BSET', 'BSPM', 'BSRR', 'BUSE', 'BWEN', 'BWFG', 'BYFC', 'CAAS', 'CACC', 'CACH', 'CAC', 'CAKE', 'CALM', 'CAMT', 'CARV', 'CARZ', 'CAR', 'CASH', 'CASI', 'CASS', 'CASY', 'CATY', 'CBAN', 'CBFV', 'CBOE', 'CBRL', 'CBSH', 'CCBG', 'CCIH', 'CCNE', 'CCOI', 'CCRN', 'CCUR', 'CDNS', 'CDTI', 'CDXS', 'CDZI', 'CECO', 'CENTA', 'CENT', 'CENX', 'CERS', 'CEVA', 'CFBK', 'CFFI', 'CFFN', 'CFNB', 'CGEN', 'CGNX', 'CGO', 'CHCI', 'CHCO', 'CHDN', 'CHEF', 'CHI', 'CHKP', 'CHMG', 'CHNR', 'CHRW', 'CHSCP', 'CHTR', 'CHW', 'CHY', 'CINF', 'CIZN', 'CJJD', 'CLDX', 'CLFD', 'CLMT', 'CLNE', 'CLRB', 'CLRO', 'CLWT', 'CMCO', 'CMCSA', 'CMCT', 'CME', 'CMPR', 'CMTL', 'CNET', 'CNMD', 'CNOB', 'CNSL', 'CNTY', 'COHR', 'COHU', 'COKE', 'COLB', 'COLM', 'CONN', 'CORT', 'COST', 'CPHC', 'CPIX', 'CPLP', 'CPRT', 'CPRX', 'CPSS', 'CRAI', 'CREG', 'CRESY', 'CRIS', 'CRMT', 'CRNT', 'CROX', 'CRUS', 'CRVL', 'CRWS', 'CSCO', 'CSGP', 'CSGS', 'CSIQ', 'CSPI', 'CSQ', 'CSWC', 'CTAS', 'CTBI', 'CTHR', 'CTRN', 'CTSH', 'CTSO', 'CUBA', 'CUTR', 'CVBF', 'CVCO', 'CVGI', 'CVGW', 'CVLT', 'CVV', 'CWBC', 'CWCO', 'CWST', 'CYAN', 'CYCCP', 'CYCC', 'CYTK', 'CZNC', 'CZWI', 'DAIO', 'DAKT', 'DCOM', 'DENN', 'DFVL', 'DFVS', 'DGICA', 'DGICB', 'DGII', 'DGLD', 'DGLY', 'DHIL', 'DIOD', 'DJCO', 'DLHC', 'DLTR', 'DMLP', 'DMRC', 'DORM', 'DOX', 'DRRX', 'DSGX', 'DSLV', 'DSWL', 'DVAX', 'DWSN', 'DXCM', 'DXLG', 'DXPE', 'DXYN', 'DYNT', 'DYSL', 'EA', 'EBAY', 'EBMT', 'EBTC', 'ECPG', 'EDAP', 'EDUC', 'EEFT', 'EFOI', 'EFSC', 'EGAN', 'EGBN', 'EGHT', 'EHTH', 'ELSE', 'ELTK', 'EMIF', 'EMITF', 'EMKR', 'EML', 'EMMS', 'ENG', 'ENSG', 'ENTG', 'ENZN', 'EQIX', 'ERIC', 'ERIE', 'ERII', 'ESCA', 'ESEA', 'ESGR', 'ESLT', 'ESMC', 'ESSA', 'EUFN', 'EVOL', 'EWBC', 'EXAS', 'EXEL', 'EXLS', 'EXPD', 'EXPE', 'EXPO', 'EXTR', 'EZPW', 'FALC', 'FARM', 'FARO', 'FAST', 'FBIZ', 'FBMS', 'FBNC', 'FCAP', 'FCBC', 'FCCO', 'FCEL', 'FCFS', 'FCNCA', 'FDUS', 'FEIM', 'FELE', 'FFBC']

In [7]:
for i in range(1, 8):
    file_name = f'data_cleared/tweets_remaining_cleared_part{i}.csv'
    globals()[f'df_remaining_{i}'] = pd.read_csv(file_name, sep=';')
    print(f'Archivo {file_name} cargado en df_remaining_{i}, shape: {globals()[f"df_remaining_{i}"].shape}')

Archivo data_cleared/tweets_remaining_cleared_part1.csv cargado en df_remaining_1, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part2.csv cargado en df_remaining_2, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part3.csv cargado en df_remaining_3, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part4.csv cargado en df_remaining_4, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part5.csv cargado en df_remaining_5, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part6.csv cargado en df_remaining_6, shape: (400000, 4)
Archivo data_cleared/tweets_remaining_cleared_part7.csv cargado en df_remaining_7, shape: (126326, 4)

In [8]:
#filter each data frame so that it only conitans the tickers in the ticker_list
for i in range(1, 8):
    globals()[f'df_remaining_{i}'] = globals()[f'df_remaining_{i}'][globals()[f'df_remaining_{i}']['ticker'].isin(ticker_list)]
    print(f'df_remaining_{i} shape: {globals()[f"df_remaining_{i}"].shape}')

df_remaining_1 shape: (49694, 4)
df_remaining_2 shape: (47517, 4)
df_remaining_3 shape: (48997, 4)
df_remaining_4 shape: (52297, 4)
df_remaining_5 shape: (48882, 4)
df_remaining_6 shape: (52597, 4)
df_remaining_7 shape: (14845, 4)

In [11]:
df_labelled = pd.read_csv('data_cleared/tweets_labelled_cleared.csv', sep=';')
df_labelled.shape

(14276, 4)

In [12]:
df_labelled = df_labelled[df_labelled['ticker'].isin(ticker_list)]
df_labelled.shape

(1686, 4)

In [13]:
import os
if not os.path.exists('tweets_labelled_cleared.csv'):
    df_labelled.to_csv('tweets_labelled_cleared.csv', sep=';', index=False)

In [14]:
#save all reamining tweets as one fike
df_remaining = pd.concat([df_remaining_1, df_remaining_2, df_remaining_3, df_remaining_4, df_remaining_5, df_remaining_6, df_remaining_7])

In [15]:
df_remaining.shape

(314829, 4)

In [16]:
if not os.path.exists('tweets_remaining_cleared.csv'):
    df_remaining.to_csv('tweets_remaining_cleared.csv', sep=';', index=False)