In [1]:
import os

os.chdir(
    "C:/Users/luism/Documents/Programacion_local/Clase/4o AÃ±o/Descubrimiento Datos Complejos/DCDC-Proyecto-Stocks"
)
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.vscode',
 'data',
 'motivation.md',
 'README.md',
 'scripts']

In [2]:
import pandas as pd

In [3]:
data_file = "data/raw/mjw_stock_market_tweets_train.csv"

In [4]:
df = pd.read_csv(data_file,index_col=0)
df.reset_index(inplace=True,drop=True)
display(df.head(2))

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
1,550452877466935296,TheTrendIsUp,2015-01-01,My biggest winner in 2014: Inverse Volatility ...,1,0,0,AAPL

In [5]:
# Check NANs
df.isna().sum()
# Since we only see Nans in writer we can assume no problem since data we want is the body, the ticker and a sentiment label. Sentimente label will have to be predicted using NLP models.

tweet_id             0
writer           27699
post_date            0
body                 0
comment_num          0
retweet_num          0
like_num             0
ticker_symbol        0
dtype: int64

In [6]:
df["post_date"] = pd.to_datetime(df["post_date"])
df.sort_values(by=["post_date"], inplace=True)
df.reset_index(drop=True, inplace=True)

In [7]:
# We see dates enter in the date range desired (2012-2020) so no need to filter this out
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
1,550745292736593920,TeslaAgnostic,2015-01-01,@BarbarianCap @SamAntar @DumbLuckCapital Also...,0,1,1,TSLA
2,550745279478398976,ideasforapple,2015-01-01,Add a keypad to the Mac (and #iPad) #iOS8 cont...,0,0,1,AAPL
3,550743956682981376,SamAntar,2015-01-01,@jotiavionica @TeslaAgnostic @BarbarianCap @el...,2,0,0,TSLA
4,550743209971036161,SentiQuant,2015-01-01,#TOPTICKERTWEETS $AAPL $BABA $EBAY $IMRS $AMZN...,0,0,1,AAPL
...,...,...,...,...,...,...,...,...
1700636,1212012677066874880,EspTrades,2019-12-31,@ScottWapnerCNBC said in 2019 you couldn't los...,1,0,0,TSLA
1700637,1212012347050598402,TraderDanny77,2019-12-31,SELLING THOSE ITM $420 STRIKE CALLS WAS LIT !!...,0,0,1,AMZN
1700638,1212011895194095616,TheBurdetteLawF,2019-12-31,#estate asset watch - some active stocks in pr...,0,0,0,AAPL
1700639,1212013764305989632,Tesla_S3XYCARS,2019-12-31,$TSLA GF3 Production is at 1500 Model 3's per ...,0,2,2,TSLA
1700640,1212160410692046849,MoriaCrypto,2019-12-31,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL

In [11]:
print("NÂº of duplicated rows:", df.duplicated().sum())
print("NÂº of duplicated 'body'", df.duplicated(subset="body").sum())

NÂº of duplicated rows: 0
NÂº of duplicated 'body' 0

In [15]:
df = df.sort_values(by=["post_date","body"]).reset_index(drop=True)

In [16]:
df.to_csv("data/processed/mjw_sotck_tweets_cleaned.csv", index=False)