In [1]:
import os
os.chdir("C:/Users/luism/Documents/Programacion_local/Clase/4o Año/Descubrimiento Datos Complejos/DCDC-Proyecto-Stocks")
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.vscode',
 'data',
 'motivation.md',
 'README.md',
 'scripts']

In [2]:
import pandas as pd

In [3]:
file = "data/raw/StephanAkkerman_stock-market-tweets-data_train.csv" 
df = pd.read_csv(file,index_col=0)
display(df)

,created_at,text
id,,
1,2020-04-09 23:59:51+00:00,@KennyDegu very very little volume. With $10T ...
2,2020-04-09 23:58:55+00:00,#ES_F achieved Target 2780 closing above 50% #...
3,2020-04-09 23:58:52+00:00,RT @KimbleCharting: Silver/Gold indicator crea...
4,2020-04-09 23:58:27+00:00,@Issaquahfunds Hedged our $MSFT position into ...
5,2020-04-09 23:57:59+00:00,RT @zipillinois: 3 Surprisingly Controversial ...
...,...,...
938668,2020-07-16 00:00:25+00:00,RT @MadMraket: We tend to spend lot of time in...
938669,2020-07-16 00:00:23+00:00,You \n\n$SPX $SPY #ES_F
938670,2020-07-16 00:00:23+00:00,"$KO Coca-Cola #Options #maxpain Chart, Open In..."
938671,2020-07-16 00:00:06+00:00,Here's a dividends watchlist \nfor the 01/04/0...
938672,2020-07-16 00:00:00+00:00,$AAL $TWTR $SPCE $AZN $ERI $RCL $JNJ $AA $SNBR...

In [4]:
df.isna().sum()
# Data presents no missing values

# However here data is missing ticker information and label prediction for sentiment

created_at    0
text          0
dtype: int64

In [5]:
df["created_at"] = pd.to_datetime(df["created_at"])
df = df.sort_values(by="created_at")
df = df.reset_index(drop=True)

# Since dates are from 2020 and we look from 2012 to 2021 we leave all rows
df

,created_at,text
0,2020-04-09 00:00:01+00:00,S&amp;P 500 | $SPX | $SPX500 $USD\n\nS&amp;P T...
1,2020-04-09 00:00:15+00:00,Why #realestate beats #stocks during a #recess...
2,2020-04-09 00:00:15+00:00,RT @DisneyTVANews: It's been confirmed that @D...
3,2020-04-09 00:00:26+00:00,"Daily, Weekly, Monthly &amp; Annual Pivots &am..."
4,2020-04-09 00:00:26+00:00,This private #stocks #swingtrading https://t.c...
...,...,...
923668,2020-07-16 23:58:57+00:00,Quality company proving during hard times #JNJ...
923669,2020-07-16 23:58:59+00:00,RT @ABiggzHD: Small Account: NA\nBig Account: ...
923670,2020-07-16 23:59:03+00:00,"If $AMZN dropped below $2,000 I would LOVE to ..."
923671,2020-07-16 23:59:12+00:00,$MS $BAC https://t.co/o7Vm9UFCC9
923672,2020-07-16 23:59:13+00:00,Analyst Has Outperform Rating on Company with ...

# Duplicates

In [16]:
print("Nº of rows that are duplicate",df.loc[df.duplicated(keep=False)].shape[0])
print("Nº of text that are duplicate",df.loc[df["text"].duplicated(keep=False)].shape[0])
# The second number is way bigger than the first. This is: a lot of text appear twice but the common thing is they have different dates when duplicated
print("Nº of text that are duplicate but in different days",df.loc[df["text"].duplicated(keep=False) & ~df.duplicated(subset=["text","created_at"],keep=False)].shape[0])

# We will remove the duplicated rows (as a whole) I believe when it is a duplicate but in different days it may have a different impact
print("Shape befor removing duplicates",df.shape)
df_removed_dup = df.loc[~df.duplicated(keep="first")]
print("Shape befor after duplicates",df_removed_dup.shape)
print("Removed:",df.shape[0]-df_removed_dup.shape[0])

Nº of rows that are duplicate 3662
Nº of text that are duplicate 294129
Nº of text that are duplicate but in different days 290467
Shape befor removing duplicates (923673, 2)
Shape befor after duplicates (921560, 2)
Removed: 2113

In [17]:
df_removed_dup.to_csv("data/processed/stepahnakkerman_tweets_cleaned.csv", index=False)