In [1]:
import pickle, os, ast
import pandas as pd
import numpy as np

In [2]:
# debido a la gran cantidad de noticias sobre las que hacer inferencia, se hicieron en distintas máquinas a la vez
# hay que juntar las predicciones sacadas por cada máquina
preds = []
for i, pkl in enumerate(os.listdir("./pkl")):
    print(i, pkl)
    preds.append(pickle.load(open(f"./pkl/{pkl}", "rb")))

0 preds_0-50000.pkl
1 preds_1000000-1822000.pkl
2 preds_130000-500000.pkl
3 preds_1821594-1926594.pkl
4 preds_1926594-2008594.pkl
5 preds_2008594-2036594.pkl
6 preds_2036594-2090594.pkl
7 preds_50000-51000.pkl
8 preds_500000-763000.pkl
9 preds_51000-130000.pkl
10 preds_763000-1000000.pkl

In [3]:
# hay que recortar las predicciones del tramo 1821000-1822000
n = sum([len(i[j]) for i in preds for j in range(len(i))])
print(n)
preds[1] = preds[1][:-1] + [preds[1][-1][:594]]  # de ese tramo nos quedamos con las predicciones 1821000-1821593 (ambos incluidos)
n = sum([len(i[j]) for i in preds for j in range(len(i))])
print(n)

2091000
2090594

In [4]:
# ordenamos y extraemos las listas
y = []
preds = [preds[i] for i in (0, 7, 9, 2, 8, 10, 1, 3, 4, 5, 6)]
for i in preds:
    for j in i:
        y.extend(j)
print(len(preds))
print(len(y))

11
2090594

In [141]:
dataset_path = "./full_dataset_removed_duplicates.csv"  # este es el dataset completo pero quitando las noticias que aparecían repetidas en una misma celda

df = pd.read_csv(dataset_path, encoding="utf-8", encoding_errors="replace").iloc[:, 1:]
df

,Date,AAL,AAME,AAON,AAPL,AAXJ,ABCB,ABIO,ACAD,ACFN,...,XOMA,XRAY,XTLB,YNDX,YORW,ZBRA,ZEUS,ZION,ZIV,ZUMZ
0,2012-01-03 00:00:00+00:00,{'val_adj_close': 4.83},{'val_adj_close': 1.83},{'val_adj_close': 5.4},{'val_adj_close': 12.4},{'val_adj_close': 43.2},{'val_adj_close': 9.73},{'val_adj_close': 9071.92},{'val_adj_close': 1.11},{'val_adj_close': 6.41},...,{'val_adj_close': 25.0},{'val_adj_close': 33.23},{'val_adj_close': 20.5},{'val_adj_close': 19.74},{'val_adj_close': 14.5},{'val_adj_close': 35.72},{'val_adj_close': 24.44},{'val_adj_close': 13.0},{'val_adj_close': 12.71},"{'val_adj_close': 26.46, 'noticias': [{'notici..."
1,2012-01-04 00:00:00+00:00,{'val_adj_close': 4.74},{'val_adj_close': 1.82},{'val_adj_close': 5.36},{'val_adj_close': 12.47},{'val_adj_close': 42.88},{'val_adj_close': 9.54},{'val_adj_close': 8981.2},{'val_adj_close': 1.09},{'val_adj_close': 6.8},...,{'val_adj_close': 24.8},{'val_adj_close': 33.22},{'val_adj_close': 15.5},{'val_adj_close': 19.15},{'val_adj_close': 14.26},{'val_adj_close': 35.45},{'val_adj_close': 23.4},"{'val_adj_close': 13.29, 'noticias': [{'notici...",{'val_adj_close': 12.93},"{'val_adj_close': 26.33, 'noticias': [{'notici..."
2,2012-01-05 00:00:00+00:00,{'val_adj_close': 5.16},{'val_adj_close': 1.88},{'val_adj_close': 5.33},{'val_adj_close': 12.61},{'val_adj_close': 42.88},{'val_adj_close': 9.59},{'val_adj_close': 8891.38},{'val_adj_close': 1.1},{'val_adj_close': 6.62},...,"{'val_adj_close': 25.0, 'noticias': [{'noticia...",{'val_adj_close': 33.24},{'val_adj_close': 17.5},{'val_adj_close': 19.29},{'val_adj_close': 14.09},{'val_adj_close': 35.4},{'val_adj_close': 23.33},{'val_adj_close': 13.66},{'val_adj_close': 13.03},"{'val_adj_close': 30.95, 'noticias': [{'notici..."
3,2012-01-06 00:00:00+00:00,{'val_adj_close': 5.28},{'val_adj_close': 1.84},{'val_adj_close': 5.27},{'val_adj_close': 12.74},{'val_adj_close': 42.5},{'val_adj_close': 9.79},{'val_adj_close': 9253.35},{'val_adj_close': 1.15},{'val_adj_close': 6.67},...,{'val_adj_close': 25.6},{'val_adj_close': 33.05},{'val_adj_close': 17.5},{'val_adj_close': 18.61},{'val_adj_close': 14.07},{'val_adj_close': 35.11},{'val_adj_close': 22.78},"{'val_adj_close': 13.68, 'noticias': [{'notici...",{'val_adj_close': 13.18},"{'val_adj_close': 31.27, 'noticias': [{'notici..."
4,2012-01-09 00:00:00+00:00,{'val_adj_close': 5.39},{'val_adj_close': 1.87},"{'val_adj_close': 5.26, 'noticias': [{'noticia...",{'val_adj_close': 12.72},{'val_adj_close': 42.67},{'val_adj_close': 9.78},{'val_adj_close': 9163.54},{'val_adj_close': 1.19},{'val_adj_close': 6.67},...,{'val_adj_close': 27.8},{'val_adj_close': 32.89},{'val_adj_close': 18.5},{'val_adj_close': 18.73},{'val_adj_close': 13.88},{'val_adj_close': 34.95},{'val_adj_close': 22.48},{'val_adj_close': 13.87},{'val_adj_close': 13.23},{'val_adj_close': 31.78}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,2020-01-28 00:00:00+00:00,{'val_adj_close': 26.8},{'val_adj_close': 1.94},{'val_adj_close': 35.3},{'val_adj_close': 77.08},{'val_adj_close': 70.06},{'val_adj_close': 39.92},{'val_adj_close': 66.6},{'val_adj_close': 41.55},{'val_adj_close': 0.35},...,{'val_adj_close': 23.36},{'val_adj_close': 58.33},{'val_adj_close': 1.36},{'val_adj_close': 45.57},{'val_adj_close': 47.59},{'val_adj_close': 247.98},{'val_adj_close': 14.75},"{'val_adj_close': 39.84, 'noticias': [{'notici...",{'val_adj_close': 74.5},{'val_adj_close': 32.39}
2256,2020-01-29 00:00:00+00:00,{'val_adj_close': 26.7},{'val_adj_close': 2.01},{'val_adj_close': 35.25},{'val_adj_close': 78.7},{'val_adj_close': 70.49},{'val_adj_close': 39.4},{'val_adj_close': 66.0},{'val_adj_close': 40.24},{'val_adj_close': 0.34},...,{'val_adj_close': 23.8},{'val_adj_close': 58.18},{'val_adj_close': 1.48},{'val_adj_close': 46.11},{'val_adj_close': 47.5},{'val_adj_close': 250.17},{'val_adj_close': 14.64},{'val_adj_close': 39.23},{'val_adj_close': 74.52},"{'val_adj_close': 32.45, 'noticias': [{'notici..."
2257,2020-01-30 00:00:00+00:00,{'val_adj_close': 27.62},{'val_adj_close': 2.1},{'val_adj_close': 35.69},{'val_adj_close': 78.58},{'val_adj_close': 69.34},{'val_adj_close': 39.91},{'val_adj_close': 63.24},{'val_adj_close': 39.98},{'val_adj_close': 0.33},...,{'val_adj_close': 23.33},{'val_adj_close': 56.89},{'val_adj_close': 1.54},{'val_adj_close': 45.9},{'val_adj_close': 47.47},{'val_adj_close': 246.32},{'val_adj_close': 14.91},{'val_adj_close': 39.56},{'val_adj_close': 75.4},{'val_adj_close': 32.67}
2258,2020-01-31 00:00:00+00:00,{'val_adj_close': 26.74},{'val_adj_close': 2.2},{'val_adj_close': 34.48},{'val_adj_close': 75.1},{'val_adj_close': 67.87},{'val_adj_close': 39.0},{'val_adj_close': 62.91},{'val_adj_close': 39.94},{'val_adj_close': 0.34},...,{'val_adj_close': 23.19},{'val_adj_close': 55.29},{'val_adj_close': 1.64},{'val_adj_close': 44.81},{'val_adj_close': 46.23},{'val_adj_close': 239.02},{'val_adj_close': 14.58},{'val_adj_close': 38.49},{'val_adj_close': 72.06},"{'val_adj_close': 31.17, 'noticias': [{'notici..."
2259,2020-02-03 00:00:00+00:00,{'val_adj_close': 27.06},{'val_adj_close': 1.92},{'val_adj_close': 34.9},{'val_adj_close': 74.89},{'val_adj_close': 68.66},{'val_adj_close': 39.27},{'val_adj_close': 68.76},{'val_adj_close': 40.9},{'val_adj_close': 0.32},...,{'val_adj_close': 23.19},{'val_adj_close': 54.91},{'val_adj_close': 1.6},{'val_adj_close': 46.0},{'val_adj_close': 47.05},{'val_adj_close': 242.55},{'val_adj_close': 14.91},{'val_adj_close': 39.01},{'val_adj_close': 73.39},{'val_adj_close': 32.59}

In [5]:
# este dataset contiene una columna con las noticias y otra las celdas del dataset completo donde aparece esa noticia
preds_dataset = pd.read_csv("preds_dataset.csv", encoding="utf-8", lineterminator='\n').iloc[:, 1:]
preds_dataset.head()

,idx,text
0,"[((0, 38), 0), ((0, 565), 0)]",'Mad Money Lightning Round': Stay Long Sandridge
1,"[((0, 38), 1), ((0, 565), 1)]",Cramer's 'Mad Money' Recap: Betting Against th...
2,"[((0, 133), 0)]",BioLineRx Announces Initiation of CE Mark Regi...
3,"[((0, 267), 0)]",Hearing Rumors of the Death of Fidel Castro
4,"[((0, 267), 1)]",UPDATE: Reports of the Death of Former Cuban P...

In [6]:
print(len(preds_dataset))

2090594

In [7]:
preds_dataset["pred"] = y  # añadimos la columna de las predicciones

In [8]:
preds_dataset.head()

,idx,text,pred
0,"[((0, 38), 0), ((0, 565), 0)]",'Mad Money Lightning Round': Stay Long Sandridge,negative
1,"[((0, 38), 1), ((0, 565), 1)]",Cramer's 'Mad Money' Recap: Betting Against th...,positive
2,"[((0, 133), 0)]",BioLineRx Announces Initiation of CE Mark Regi...,neutral
3,"[((0, 267), 0)]",Hearing Rumors of the Death of Fidel Castro,positive
4,"[((0, 267), 1)]",UPDATE: Reports of the Death of Former Cuban P...,positive

In [9]:
preds_dataset.to_csv("preds_dataset_con_sentimientos.csv")

In [110]:
mask = df.apply(lambda col: col.str.contains(r"noticias"))

indices = np.argwhere(mask.values == True).tolist()
indices = list(map(tuple, indices))  # indices de las celdas que tienen noticias en df

noticias_con_sentimiento = []

for i in indices:
    cell = ast.literal_eval(df.iloc[i])
    for x in range(len(cell["noticias"])):
        if cell["noticias"][x]["sentimiento"] is not None:
            noticias_con_sentimiento.append(((i, x), cell["noticias"][x]["sentimiento"]))

In [111]:
# hay noticias que ya tenían sentimiento, pero el sentimiento es distinto a positive, neutral o negative, así que descartamos
noticias_con_sentimiento_copy = noticias_con_sentimiento.copy()
sentimientos = ("neutral", "positive", "negative")
for noticia in noticias_con_sentimiento_copy:
    if noticia[1] not in sentimientos:
        noticias_con_sentimiento.remove(noticia)
print(noticias_con_sentimiento[:5])
print(len(noticias_con_sentimiento_copy), len(noticias_con_sentimiento))

[(((0, 339), 0), 'neutral'), (((2, 135), 0), 'neutral'), (((7, 102), 0), 'neutral'), (((8, 155), 0), 'neutral'), (((9, 104), 0), 'neutral')]
4656 1440

In [112]:
print(set(map(lambda x: x[1], noticias_con_sentimiento)))

{'neutral'}

In [113]:
# este dataframe contiene las noticias que ya tenían sentimiento
# lo guardamos para comparar después con los sentimientos que hemos sacado nosotros
df_noticias_con_sentimiento = pd.DataFrame({"idx": list(map(lambda x: x[0], noticias_con_sentimiento)), "sentimiento": list(map(lambda x: x[1], noticias_con_sentimiento))})

In [114]:
df_noticias_con_sentimiento

                   idx sentimiento
0        ((0, 339), 0)     neutral
1        ((2, 135), 0)     neutral
2        ((7, 102), 0)     neutral
3        ((8, 155), 0)     neutral
4        ((9, 104), 0)     neutral
...                ...         ...
1435  ((2257, 372), 0)     neutral
1436   ((2258, 68), 0)     neutral
1437   ((2259, 46), 2)     neutral
1438   ((2259, 78), 0)     neutral
1439   ((2259, 79), 0)     neutral

[1440 rows x 2 columns]

In [ ]:
# añadimos el sentimiento al dataset completo
# otra vez, debido a la gran cantidad de datos se realizó en tres máquinas simultáneamente
try:
    for i in range(len(preds_dataset)-1, 1389000, -1):
        if i%1000==0:
            print(i)
        df_indexes = eval(preds_dataset["idx"][i])
        for idx in df_indexes:
            cell = eval(df.iloc[idx[0]])
            cell["noticias"][idx[1]]["sentimiento"] = preds_dataset["pred"][i]
            df.iloc[idx[0]] = str(cell)
except KeyboardInterrupt:
    print(i)
    pickle.dump(df, open(f"dataset_con_sentimiento_{i}-{len(preds_dataset)}.pkl", "wb"))

In [146]:
# hay que juntar los trozos
df1 = pd.read_csv("dataset_con_sentimientos_0-1045297.csv", encoding="utf-8").iloc[:, 1:]
df2 = pickle.load(open("dataset_con_sentimientos_1045297-1708071.pkl", "rb"))
df3 = pickle.load(open("dataset_con_sentimientos_1574707-2090594.pkl", "rb"))

In [147]:
print(df1.shape, df2.shape, df3.shape)

(2260, 1150) (2260, 1150) (2260, 1150)

In [ ]:
df_con_sentimientos = df1
for i in range(1045297, len(preds_dataset)):
    df_indexes = eval(preds_dataset["idx"][i])
    if i%1000 == 0:
        print(i)
    if i<1574708:
        for idx in df_indexes:
            df_con_sentimientos.iloc[idx[0]] = df2.iloc[idx[0]]
    else:
        for idx in df_indexes:
            df_con_sentimientos.iloc[idx[0]] = df3.iloc[idx[0]]
df_con_sentimientos

In [153]:
df_con_sentimientos

,Date,AAL,AAME,AAON,AAPL,AAXJ,ABCB,ABIO,ACAD,ACFN,...,XOMA,XRAY,XTLB,YNDX,YORW,ZBRA,ZEUS,ZION,ZIV,ZUMZ
0,2012-01-03 00:00:00+00:00,{'val_adj_close': 4.83},{'val_adj_close': 1.83},{'val_adj_close': 5.4},{'val_adj_close': 12.4},{'val_adj_close': 43.2},{'val_adj_close': 9.73},{'val_adj_close': 9071.92},{'val_adj_close': 1.11},{'val_adj_close': 6.41},...,{'val_adj_close': 25.0},{'val_adj_close': 33.23},{'val_adj_close': 20.5},{'val_adj_close': 19.74},{'val_adj_close': 14.5},{'val_adj_close': 35.72},{'val_adj_close': 24.44},{'val_adj_close': 13.0},{'val_adj_close': 12.71},"{'val_adj_close': 26.46, 'noticias': [{'notici..."
1,2012-01-04 00:00:00+00:00,{'val_adj_close': 4.74},{'val_adj_close': 1.82},{'val_adj_close': 5.36},{'val_adj_close': 12.47},{'val_adj_close': 42.88},{'val_adj_close': 9.54},{'val_adj_close': 8981.2},{'val_adj_close': 1.09},{'val_adj_close': 6.8},...,{'val_adj_close': 24.8},{'val_adj_close': 33.22},{'val_adj_close': 15.5},{'val_adj_close': 19.15},{'val_adj_close': 14.26},{'val_adj_close': 35.45},{'val_adj_close': 23.4},"{'val_adj_close': 13.29, 'noticias': [{'notici...",{'val_adj_close': 12.93},"{'val_adj_close': 26.33, 'noticias': [{'notici..."
2,2012-01-05 00:00:00+00:00,{'val_adj_close': 5.16},{'val_adj_close': 1.88},{'val_adj_close': 5.33},{'val_adj_close': 12.61},{'val_adj_close': 42.88},{'val_adj_close': 9.59},{'val_adj_close': 8891.38},{'val_adj_close': 1.1},{'val_adj_close': 6.62},...,"{'val_adj_close': 25.0, 'noticias': [{'noticia...",{'val_adj_close': 33.24},{'val_adj_close': 17.5},{'val_adj_close': 19.29},{'val_adj_close': 14.09},{'val_adj_close': 35.4},{'val_adj_close': 23.33},{'val_adj_close': 13.66},{'val_adj_close': 13.03},"{'val_adj_close': 30.95, 'noticias': [{'notici..."
3,2012-01-06 00:00:00+00:00,{'val_adj_close': 5.28},{'val_adj_close': 1.84},{'val_adj_close': 5.27},{'val_adj_close': 12.74},{'val_adj_close': 42.5},{'val_adj_close': 9.79},{'val_adj_close': 9253.35},{'val_adj_close': 1.15},{'val_adj_close': 6.67},...,{'val_adj_close': 25.6},{'val_adj_close': 33.05},{'val_adj_close': 17.5},{'val_adj_close': 18.61},{'val_adj_close': 14.07},{'val_adj_close': 35.11},{'val_adj_close': 22.78},"{'val_adj_close': 13.68, 'noticias': [{'notici...",{'val_adj_close': 13.18},"{'val_adj_close': 31.27, 'noticias': [{'notici..."
4,2012-01-09 00:00:00+00:00,{'val_adj_close': 5.39},{'val_adj_close': 1.87},"{'val_adj_close': 5.26, 'noticias': [{'noticia...",{'val_adj_close': 12.72},{'val_adj_close': 42.67},{'val_adj_close': 9.78},{'val_adj_close': 9163.54},{'val_adj_close': 1.19},{'val_adj_close': 6.67},...,{'val_adj_close': 27.8},{'val_adj_close': 32.89},{'val_adj_close': 18.5},{'val_adj_close': 18.73},{'val_adj_close': 13.88},{'val_adj_close': 34.95},{'val_adj_close': 22.48},{'val_adj_close': 13.87},{'val_adj_close': 13.23},{'val_adj_close': 31.78}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,2020-01-28 00:00:00+00:00,{'val_adj_close': 26.8},{'val_adj_close': 1.94},{'val_adj_close': 35.3},{'val_adj_close': 77.08},{'val_adj_close': 70.06},{'val_adj_close': 39.92},{'val_adj_close': 66.6},{'val_adj_close': 41.55},{'val_adj_close': 0.35},...,{'val_adj_close': 23.36},{'val_adj_close': 58.33},{'val_adj_close': 1.36},{'val_adj_close': 45.57},{'val_adj_close': 47.59},{'val_adj_close': 247.98},{'val_adj_close': 14.75},"{'val_adj_close': 39.84, 'noticias': [{'notici...",{'val_adj_close': 74.5},{'val_adj_close': 32.39}
2256,2020-01-29 00:00:00+00:00,{'val_adj_close': 26.7},{'val_adj_close': 2.01},{'val_adj_close': 35.25},{'val_adj_close': 78.7},{'val_adj_close': 70.49},{'val_adj_close': 39.4},{'val_adj_close': 66.0},{'val_adj_close': 40.24},{'val_adj_close': 0.34},...,{'val_adj_close': 23.8},{'val_adj_close': 58.18},{'val_adj_close': 1.48},{'val_adj_close': 46.11},{'val_adj_close': 47.5},{'val_adj_close': 250.17},{'val_adj_close': 14.64},{'val_adj_close': 39.23},{'val_adj_close': 74.52},"{'val_adj_close': 32.45, 'noticias': [{'notici..."
2257,2020-01-30 00:00:00+00:00,{'val_adj_close': 27.62},{'val_adj_close': 2.1},{'val_adj_close': 35.69},{'val_adj_close': 78.58},{'val_adj_close': 69.34},{'val_adj_close': 39.91},{'val_adj_close': 63.24},{'val_adj_close': 39.98},{'val_adj_close': 0.33},...,{'val_adj_close': 23.33},{'val_adj_close': 56.89},{'val_adj_close': 1.54},{'val_adj_close': 45.9},{'val_adj_close': 47.47},{'val_adj_close': 246.32},{'val_adj_close': 14.91},{'val_adj_close': 39.56},{'val_adj_close': 75.4},{'val_adj_close': 32.67}
2258,2020-01-31 00:00:00+00:00,{'val_adj_close': 26.74},{'val_adj_close': 2.2},{'val_adj_close': 34.48},{'val_adj_close': 75.1},{'val_adj_close': 67.87},{'val_adj_close': 39.0},{'val_adj_close': 62.91},{'val_adj_close': 39.94},{'val_adj_close': 0.34},...,{'val_adj_close': 23.19},{'val_adj_close': 55.29},{'val_adj_close': 1.64},{'val_adj_close': 44.81},{'val_adj_close': 46.23},{'val_adj_close': 239.02},{'val_adj_close': 14.58},{'val_adj_close': 38.49},{'val_adj_close': 72.06},"{'val_adj_close': 31.17, 'noticias': [{'notici..."
2259,2020-02-03 00:00:00+00:00,{'val_adj_close': 27.06},{'val_adj_close': 1.92},{'val_adj_close': 34.9},{'val_adj_close': 74.89},{'val_adj_close': 68.66},{'val_adj_close': 39.27},{'val_adj_close': 68.76},{'val_adj_close': 40.9},{'val_adj_close': 0.32},...,{'val_adj_close': 23.19},{'val_adj_close': 54.91},{'val_adj_close': 1.6},{'val_adj_close': 46.0},{'val_adj_close': 47.05},{'val_adj_close': 242.55},{'val_adj_close': 14.91},{'val_adj_close': 39.01},{'val_adj_close': 73.39},{'val_adj_close': 32.59}

In [154]:
df_con_sentimientos.to_csv("dataset_completo_con_sentimientos.csv", encoding="utf-8")

In [156]:
df_noticias_con_sentimiento.columns = ["idx", "orig"]
df_noticias_con_sentimiento["pred"] = [eval(df_con_sentimientos.iloc[i[0]])["noticias"][i[1]]["sentimiento"] for i in df_noticias_con_sentimiento["idx"]]
df_noticias_con_sentimiento

                   idx     orig
0        ((0, 339), 0)  neutral
1        ((2, 135), 0)  neutral
2        ((7, 102), 0)  neutral
3        ((8, 155), 0)  neutral
4        ((9, 104), 0)  neutral
...                ...      ...
1435  ((2257, 372), 0)  neutral
1436   ((2258, 68), 0)  neutral
1437   ((2259, 46), 2)  neutral
1438   ((2259, 78), 0)  neutral
1439   ((2259, 79), 0)  neutral

[1440 rows x 2 columns]

In [163]:
from sklearn.metrics import accuracy_score
accuracy_score(df_noticias_con_sentimiento["orig"], df_noticias_con_sentimiento["pred"])

0.775