In [12]:
import os

os.chdir(
    "C:/Users/luism/Documents/Programacion_local/Clase/4o AÃ±o/Descubrimiento Datos Complejos/DCDC-Proyecto-Stocks"
)
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.vscode',
 'data',
 'notebooks',
 'README.md',
 'scripts']

In [13]:
import pandas as pd

In [14]:
data_file = "data/raw/mjw_stock_market_tweets_train.csv"

In [15]:
df = pd.read_csv(data_file,index_col=0)
df.reset_index(inplace=True,drop=True)
display(df.head(2))

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
1,550452877466935296,TheTrendIsUp,2015-01-01,My biggest winner in 2014: Inverse Volatility ...,1,0,0,AAPL

In [16]:
# Check NANs
df.isna().sum()
# Since we only see Nans in writer we can assume no problem since data we want is the body, the ticker and a sentiment label. Sentimente label will have to be predicted using NLP models.

tweet_id             0
writer           27699
post_date            0
body                 0
comment_num          0
retweet_num          0
like_num             0
ticker_symbol        0
dtype: int64

In [23]:
df["post_date"] = pd.to_datetime(df["post_date"])
df.sort_values(by=["post_date"], inplace=True)
df.reset_index(drop=True, inplace=True)

In [24]:
# We see dates enter in the date range desired (2012-2020) so no need to filter this out
df

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,ticker_symbol
0,550441672312512512,KeralaGuy77,2015-01-01,Insanity of today weirdo massive selling. $aap...,0,0,0,AAPL
1,550702045586812928,drfager,2015-01-01,10) $AMZN..ditto for Jeff Bezos..a true vision...,0,0,1,AMZN
2,550452877466935296,TheTrendIsUp,2015-01-01,My biggest winner in 2014: Inverse Volatility ...,1,0,0,AAPL
3,550456665607122944,t_nathan95,2015-01-01,Had a down day of -.66%. Worst performer was $...,0,0,0,AAPL
4,550459042787651584,petergo99037185,2015-01-01,"YR %, /-, $TSLA 47.85%, $FB 42.77%, $TWTR -...",0,0,0,AAPL
...,...,...,...,...,...,...,...,...
1700636,1212159254884433921,QuantWolfLine,2019-12-31,Imagine calling your broker-dealer and wanting...,1,0,1,AAPL
1700637,1212159275637886976,GMGRIFF_79,2019-12-31,"$AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...",0,0,1,AAPL
1700638,1212159765914079234,TEEELAZER,2019-12-31,That $SPY $SPX puuump in the last hour was the...,1,0,6,AAPL
1700639,1212155937588416517,QContrarian,2019-12-31,look at #tesla registrations in Netherlands f...,2,1,0,TSLA
1700640,1212160410692046849,MoriaCrypto,2019-12-31,I don't discriminate. I own both $aapl and $ms...,1,0,1,AAPL

# HACER SENTIMENT LABEL PREDICTION