In [6]:
import os
os.chdir("C:/Users/luism/Documents/Programacion_local/Clase/4o Año/Descubrimiento Datos Complejos/DCDC-Proyecto-Stocks")
os.listdir()

['.git',
 '.gitattributes',
 '.gitignore',
 '.vscode',
 'data',
 'notebooks',
 'README.md',
 'scripts']

In [7]:
import pandas as pd

In [8]:
file = "data/raw/David-Chew-HL_Tech-Stocks-News_train.csv"
df = pd.read_csv(file)
display(df)

                                                 headline        date
0       brian kelly said that intel corporation (nasda...  2015-01-01
1       meanwhile, apple inc 's (nasdaq: aapl ) itunes...  2015-01-02
2       quartz recently polled 811 smartphone users li...  2015-01-02
3       jim kelleher of argus research wrote in a note...  2015-01-02
4       over the years, apple inc. (nasdaq: aapl ) has...  2015-01-03
...                                                   ...         ...
276553  the u.s. stock market resumed its decline on t...  2024-01-17
276554  wall street took a breather on tuesday, with t...  2024-01-23
276555  major u.s. indices were mixed on tuesday with ...  2024-01-24
276556  this week, the three major u.s. stock market i...  2024-01-26
276557  in the past half-year, china has approved over...  2024-01-29

[276558 rows x 2 columns]

In [9]:
df.isna().sum()

headline    0
date        0
dtype: int64

In [14]:
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values(by="date")
df.reset_index(drop=True,inplace=True)
# Since news go up to 2024 we can filter out the dates we don't need
df

                                                 headline       date
0       the popularity of options trading has exploded... 2014-11-07
1       the popularity of options trading has exploded... 2014-11-07
2       brian kelly said that intel corporation (nasda... 2015-01-01
3       brian kelly said that intel corporation (nasda... 2015-01-01
4       2104 marked the first year that consumers swap... 2015-01-02
...                                                   ...        ...
276553  an analysis by jpmorgan chase & co.’s quantita... 2024-01-30
276554  microsoft corporation (nasdaq: msft ) is expec... 2024-01-30
276555  the u.s. economy could be on the verge of a si... 2024-01-30
276556  the u.s. economy could be on the verge of a si... 2024-01-30
276557  after ford motor (nyse: f ) decided to cut the... 2024-01-30

[276558 rows x 2 columns]

# HACER TICKER PREDICTION AND SENTIMENT LABEL PREDICTION